<div id="<%= dom_id employee %>">
  
  <% if employee.profile_picture.present? %>
    <%= image_tag employee.profile_picture %>
  <% end %>

  <p>
    <strong>Full Name:</strong>
    <%= employee.to_label %>
  </p>

  <p>
    <strong>Assigned Devices:</strong>
    <% employee.devices.each do |device| %>
      <li><%= device.name %></li>
    <% end %>
  </p>

</div>
