<div id="<%= dom_id employee %>">
  <p>
    <strong>Full Name:</strong>
    <%= employee.to_label %>
  </p>

  
  <% if employee.profile_picture.present? %>
    <%= image_tag employee.profile_picture %>
  <% end %>

</div>
